*{
	margin:0;
	padding:0;
}
.active{
	color:#f44336;
	background-color:pink;
}
.wrapper{
	width:1170px;
	margin: auto;
}
.nav-area{
	float:right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li{
	display: inline-block;
}
.nav-area li a
{
	color:#fff;
	text-decoration: none;
	padding: 6px 35px;
    background: #4caf50;
    margin:20px;
	font-family: poppins;
	font-size: 30px;
}
.nav-area li a:hover{
	background: #fff;
	color:#03a9f4e6;
}


.logo img{
	width:150px;
	float:left;
	height:120px;
	margin-top: 5px;
}
.welcome-text{
	position:absolute;
	width:600px;
	height: 300px;
	margin:20% 30%;
	text-align: center;
}
.welcome-text h1{
    text-align: center;
    color:#fff;
    text-transform: uppercase;

}
.welcome-text h4{
    text-align: center;
    color:#fff;
    font-size: 110%;

}
.welcome-text a{
    background: #4caf50;
    margin:20px;
	font-family: poppins;
	font-size: 30px;
	border: 1px solid #fff;
	padding:10px 25px;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	border-radius: 25px;
}
.welcome-text a:hover{
	background: #fff;
	color: #03a9f4e6;
}
.aboutus-text{
	position:absolute;
	margin:20% 10%;
	text-align: left;
	color:#fff;
	font-size: 110%;
}


html { 
  background: url('backf.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}